.login {
    height: 100vh;
    background-image: linear-gradient(#0000007e, #0000007e), url(../../assets/background_banner.jpg);
    padding: 20px 8%;
}

.loginLogo {
    width: 150px;
}

.loginForm {
    width: 100%;
    max-width: 450px;
    background: rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 60px;
    margin: auto;
}

.loginForm h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 28px;
}

.loginForm input {
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    margin: 12px 0;
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 16px 20px;
    font-size: 1rem;
    font-weight: 500;
}

.loginForm input::placeholder {
    font-size: 1rem;
    font-weight: 500;
}

.loginForm .button {
    padding: 16px;
    background-color: #e50914;
    margin-top: 20px;
    cursor: pointer;
}

.formHelp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: .8rem;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember input {
    width: 18px;
    height: 18px;
}

.formSwitch {
    margin-top: 40px;
    color: #737373;
}

.formSwitch span {
    margin-left: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.hidden {
    display: none;
}