.navbar {
    width: 100%;
    padding: 20px 4%;
    display: flex;
    justify-content: space-between;
    font-size: .875rem;
    color: #e5e5e5;
    position: fixed;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
    z-index: 1;
}

.navbarLeft {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbarLeft img {
    width: 90px;
    height: 20px;
}

.navbarLeft ul {
    display: none;
}

.navbarLeft ul,
.navbarRight .icons,
.navbarProfile {
    cursor: pointer;
}


.navbarRight {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbarRight .icons {
    width: 18px;
}

.navbarProfile {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.navbarProfile .profile {
    width: 35px;
    border-radius: 4px;
}

.navbarProfile .dropdown {
    position: absolute;
    top: 100%;;
    right: 0;
    width: max-content;
    display: none;
    text-decoration: underline;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    z-index: 1;
}

.navbarProfile .dropdown p {
    font-size: .8rem;
    cursor: pointer;
}

.navbarProfile:hover .dropdown {
    display: block;
}

.navDark {
    background: #141414;
}

@media only screen and (min-width: 500px) {
    .navbar img {
        height: 25px;
    }

    .navbarRight {
        gap: 12px;
    }

    .navbarRight .icons {
        width: 20px;
    }
}

@media only screen and (min-width: 800px) {
    .navbar {
        padding: 20px 6%;
    }

    .navbarLeft ul {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    .navbarRight {
        gap: 20px;
    }

    .navbar img {
        height: auto;
    }
}